<div id="tweet" class="middle">
    <div id="top_line">
        <img id="creator_img" src="./profile.jpg" alt="profile_picture"/>
        <span id="username">{{creator.username}}</span>
    </div>
    <div id="text">
        <span>{{tweet.text}}</span>
    </div>
    <div>
        <button mat-icon-button (click)="likeTweet(tweet.id, creator.id)">
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button (click)="dislikeTweet(tweet.id, creator.id)">
            <mat-icon>thumb_down</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>comment</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>reply</mat-icon>
        </button>
    </div>
</div>
